<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav">
			<li ng-repeat="n in left" ng-if="n.show"><a href="{{n.url}}">{{n.name}}</a></li>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li ng-repeat="n in right" ng-if="n.show && n.name!='Logout'"><a href="{{n.url}}">{{n.name}}</a></li>
			<li ng-if="right[2].show" ng-click="logout()"><a href="{{right[2].url}}">{{right[2].name}}</a></li>
		</ul>
	</div>
</nav>