<div class="container" ng-controller="LoginController">
	<form class="well form-horizontal width-25 margin-auto" name="login" ng-submit="submitForm()" accept-charset="utf-8">
		<div class="form-group">
			<div class="col-md-12">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Utilizador" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required>
				</div>
			</div>
		</div>
		<input class="btn btn-default" type="submit" value="Entrar">
	</form>
</div>

