<div class="container" ng-controller="RegisterController">
	<form class="well form-horizontal width-50 margin-auto" name="register" ng-submit="submitForm()" accept-charset="utf-8">
		<div class="form-group">
			<label class="col-md-4 control-label">Nome de Utilizador*</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Utilizador" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Nome Completo*</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" name="name" ng-model="user.name" placeholder="Nome Completo" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Email*</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					<input type="text" class="form-control" name="email" ng-model="user.email" placeholder="Email" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Número de Telefone</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
					<input type="text" class="form-control" name="phoneNumber" ng-model="user.phoneNumber" placeholder="Telefone">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Número de Telemóvel</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
					<input type="text" class="form-control" name="mobileNumber" ng-model="user.mobileNumber" placeholder="Telemóvel">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Morada*</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
					<input type="text" class="form-control" name="street" ng-model="user.street" placeholder="Morada" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Cidade*</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
					<input type="text" class="form-control" name="city" ng-model="user.city" placeholder="Cidade" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Código Postal*</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
					<input type="text" class="form-control" name="zipCode" ng-model="user.zipCode" placeholder="Código Postal" required>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">N.I.F.</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
					<input type="text" class="form-control" name="nif" ng-model="user.nif" placeholder="N.I.F.">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">C.C.</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
					<input type="text" class="form-control" name="cc" ng-model="user.cc" placeholder="C.C.">
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-4 control-label">Password*</label>
			<div class="col-md-6">
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required>
				</div>
			</div>
		</div>
		<small class="col-md-12">* Campos obrigatórios.</small>
		<input class="btn btn-default margin-top-10" type="submit" value="Registar">
	</form>
</div>