<div class="container" ng-controller="MapController">
	<form class="well form-horizontal width-25 margin-auto" name="userMap" ng-submit="submitForm()" accept-charset="utf-8">
		<div class="form-group">
			<div class="col-md-12">
				<label>Nome de Utilizador</label>
				<div class="input-group">
		  			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" name="username" ng-model="user.user" placeholder="Utilizador" required>
				</div>
			</div>
		</div>
		<input class="btn btn-default" type="submit" value="Procurar">
	</form>
</div>
<script type="text/javascript" src="js/userMap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
<div id="map"></div>