html, body {
	height: 100%;
	margin: 0;
	padding: 0;	
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-top-10 {
	margin-top: 10px;
}

.width-50 {
	width: 50%;
}

.width-25 {
	width: 25%;
}

.margin-auto {
	margin: auto;
}

#map {
	height: 100vh;
	width: 100vh;	
}
